// out: false

/* == MOBILE REBOOT == */
*,
*::before,
*::after {
    box-sizing: border-box;
}
@-ms-viewport {
    width: device-width;
}
article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
    display: block;
}
[tabindex="-1"]:focus {
    outline: 0 !important;
}
hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}
abbr[title],
abbr[data-original-title] {
    text-decoration: underline;
    text-decoration: underline dotted;
    cursor: help;
    border-bottom: 0;
}
address {
    margin-bottom: 1rem;
    font-style: normal;
    line-height: inherit;
}
ol,
ul,
dl {
    margin-top: 0;
    margin-bottom: 1rem;
}
ol ol,
ul ul,
ol ul,
ul ol {
    margin-bottom: 0;
}
dd {
    margin-bottom: 0.5rem;
    margin-left: 0;
}
blockquote {
    margin: 0 0 1rem;
}

dfn {
    font-style: italic;
}
b,
strong {
    font-weight: bolder;
}
small {
    font-size: 80%;
}
sub,
sup {
    position: relative;
    font-size: 75%;
    line-height: 0;
    vertical-align: baseline;
}
sub {
    bottom: -0.25em;
}
sup {
    top: -0.5em;
}
pre,
code,
kbd,
samp {
    font-family: monospace, monospace;
    font-size: 1em;
}
pre {
    margin-top: 0;
    margin-bottom: 1rem;
    overflow: auto;
    -ms-overflow-style: scrollbar;
}
figure {
    margin: 0 0 1rem;
}
img {
    vertical-align: middle;
    border-style: none;
    max-width: 100%;
    height: auto;
}
svg {
    overflow: hidden;
    vertical-align: middle;
}
table {
    border-collapse: collapse;
}
caption {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    color: $text-muted;
    text-align: left;
    caption-side: bottom;
}
th {
    text-align: inherit;
}
label {
    display: inline-block;
    margin-bottom: 0.5rem;
}
button {
    border-radius: 0;
}
button:focus {
    outline: 1px dotted;
    outline: 5px auto -webkit-focus-ring-color;
}
input,
button,
select,
optgroup,
textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
button,
input {
    overflow: visible;
}

button,
select {
    text-transform: none;
    max-width: 100%;
}
button,
html [type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: button;
}
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    padding: 0;
    border-style: none;
}
input[type="radio"],
input[type="checkbox"] {
    box-sizing: border-box;
    padding: 0;
}
input[type="date"],
input[type="time"],
input[type="datetime-local"],
input[type="month"] {
    -webkit-appearance: listbox;
}
textarea {
    overflow: auto;
    resize: vertical;
    max-width: 100%;
}
fieldset {
    min-width: 0;
    padding: 0;
    margin: 0;
    border: 0;
}
legend {
    display: block;
    width: 100%;
    max-width: 100%;
    padding: 0;
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
    line-height: inherit;
    color: inherit;
    white-space: normal;
}
progress {
    vertical-align: baseline;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
    height: auto;
}
[type="search"] {
    outline-offset: -2px;
    -webkit-appearance: none;
}
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}
::-webkit-file-upload-button {
    font: inherit;
    -webkit-appearance: button;
}
output {
    display: inline-block;
}
summary {
    display: list-item;
    cursor: pointer;
}
template {
    display: none;
}
[hidden] {
    display: none !important;
}
html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -ms-overflow-style: scrollbar;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    min-height: 100vh;
    background: $html-bg;
}
body {
    margin: 0;
    font-family: $body-font;
    font-size: $body-font-size;
    font-weight: normal;
    line-height: $body-line-height;
    color: $body-text;
    text-align: left;
    background-color: $body-bg;
    text-rendering: optimizeLegibility;
    min-height: 100vh;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 0;
    margin: 0 0 0.75rem;
    font-family: $heading-font;
    font-weight: $heading-font-weight;
    line-height: $heading-line-height;
}
h1 {
    font-size: 1.75em;
}
h2 {
    font-size: 1.5em;
}
h3 {
    font-size: 1.375em;
}
h4 {
    font-size: 1.125em;
}
h5 {
    font-size: 1em;
}
h6 {
    font-size: 0.875em;
}
nav,
button,
.menu,
._heading,
.btn,
.button,
blockquote {
    font-family: $heading-font;
    font-weight: $heading-font-weight;
}
p {
    padding: 0;
    margin: 0 0 1em;
}
ol,
ul,
dl {
    margin-top: 0;
    margin-bottom: 1em;
}
ol,
ul {
    ol,
    ul {
        margin-bottom: 0;
    }
}
dt {
    font-weight: 700;
}
a {
    color: $link-text;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
    transition: 0.3s;
    &:hover {
        color: $link-hover-text;
    }
    &:active {
        color: $link-active-text;
    }
}

/* == INI == */
hr {
    height: 1px;
    border: 0;
    border-top: 1px solid #ddd;
    margin: 1.5em 0;
}
ol {
    padding-left: 1.6em;
    text-indent: 0;
    margin: 0 0 1.5em;
}
ul {
    padding-left: 1.5em;
    text-indent: 0;
    margin: 0 0 1.5em;
}
body,
input,
textarea,
select,
button {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -moz-font-feature-settings: "liga", "kern";
    font-feature-settings: "liga1" on;
}
body,
html {
    width: 100%;
    overflow-x: hidden;
}
h2,
h3,
h4 {
    label {
        font-weight: inherit;
    }
}
form,
.clearfix {
    &:before,
    &:after {
        content: "";
        display: table;
    }
    &:after {
        clear: both;
    }
}
button:focus,
input:focus,
textarea:focus,
*:focus {
    outline: 0 !important;
}
.input,
.input-text {
    border: $input-border;
    border-radius: $input-border-radius;
    padding: 4px 6px;
    display: block;
    width: 100%;
    background: $input-bg;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.07);
    transition: 0.1s border-color ease-in-out;
    font-size: 16px;
    &:focus {
        border-color: $primary;
    }
}

.hide {
    display: none;
}
.fade.in {
    opacity: 1;
}
.table,
.wp-block-table table {
    border: 1px solid $table-line;
    thead th {
        background-color: $table-th-bg;
        color: $table-th-text;
    }
    th,
    td {
        padding: 6px 10px;
    }
}
.screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
}
.screen-reader-text:focus {
    clip: auto !important;
    display: block;
    height: auto;
    left: 5px;
    top: 5px;
    width: auto;
    z-index: 100000;
}
blockquote {
    text-align: left;
    font-size: 1.25em;
    line-height: 1.6;
    padding: 0 0 0 23px;
    border-left: 3px solid #262828;
    margin: 1.6em 0;
    ol,
    ul,
    p {
        &:last-child {
            margin-bottom: 0;
        }
    }
    cite {
        font-size: 0.8em;
    }
}
.text-center {
    text-align: center;
    @media (min-width: 992px) {
        .-toleft {
            text-align: left;
        }
        .-toright {
            text-align: right;
        }
    }
}

/* == SEED ==*/

.s-container {
    margin-right: auto;
    margin-left: auto;
    padding-right: $space-m;
    padding-left: $space-m;
    width: 100%;
    @media (min-width: 768px) {
        padding-left: $space-d;
        padding-right: $space-d;
    }
    @media (min-width: 992px) {
        max-width: 990px;
    }
    @media (min-width: 1170px) {
        max-width: 1170px;
    }
}
.site .s-button a,
a.s-button,
.button-primary {
    display: flex;
    align-items: center;
    line-height: 1;
    min-height: 44px;
    padding: 6px 20px;
    color: $button-text;
    background-color: $button-bg;
    border-radius: $button-border-radius;
    border: none;
    margin: 8px;
    &:hover {
        color: $button-hover-text;
        background-color: $button-hover-bg;
    }
}
.s-box {
    box-shadow: $box-shadow;
    border-radius: $box-border-radius;
    border: $box-border;
    overflow: hidden;
}
.s-space {
    margin-bottom: $space-m;
    @media (min-width: 992px) {
        margin-bottom: $space-d;
    }
}
.s-scroll {
    -webkit-overflow-scrolling: touch;
    overflow: scroll;
}
.s-sec {
    padding-top: $space-m * 2;
    padding-bottom: $space-m * 2;
    @media (min-width: 992px) {
        padding-top: $space-d * 2;
        padding-bottom: $space-d * 2;
    }
}
.s-title {
    text-align: center;
    margin-bottom: $space-m;
    @media (min-width: 992px) {
        margin-bottom: $space-d;
    }
}
.s-grid {
    display: grid;
    grid-gap: $space-m;
    margin-bottom: $space-m;
    grid-template-columns: minmax(0, 1fr);
    &.-m2 {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
    &.-m3 {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
    &::before,
    &::after {
        display: none;
    }
    .s-grid {
        margin-bottom: 0;
    }
    @media (min-width: 992px) {
        grid-gap: $space-d;
        margin-bottom: $space-d;
        &.-d2 {
            grid-template-columns: repeat(2, minmax(0, 1fr));
        }
        &.-d3 {
            grid-template-columns: repeat(3, minmax(0, 1fr));
        }
        &.-d4 {
            grid-template-columns: repeat(4, minmax(0, 1fr));
        }
        &.-d5 {
            grid-template-columns: repeat(5, minmax(0, 1fr));
        }
        &.-d6 {
            grid-template-columns: repeat(6, minmax(0, 1fr));
        }
    }
}

.s-slider {
    margin: 0 -#{$space-m/2};
    height: 100%;
    &.-large {
        margin-left: -$space-m;
        margin-right: -$space-m;
        .slider {
            padding-left: 0;
            padding-right: 0;
        }
        @media (min-width: 992px) {
            margin-left: 0;
            margin-right: 0;
        }
    }
    &.-full {
        margin-left: -$space-m;
        margin-right: -$space-m;
        .slider {
            padding-left: 0;
            padding-right: 0;
        }
        @media (min-width: 768px) {
            margin-left: calc(50% - 50vw);
            margin-right: calc(50% - 50vw);
        }
    }
    &.-dots-in {
        .flickity-page-dots {
            bottom: 10px;
            .dot {
                background: #fff;
                opacity: 0.5;
                &.is-selected {
                    opacity: 1;
                }
            }
            @media (min-width: 768px) {
                bottom: 15px;
            }
        }
        .flickity-prev-next-button {
            color: #fff;
            @media (min-width: 768px) {
                &.previous {
                    left: 20px;
                }
                &.next {
                    right: 20px;
                }
            }
        }
        .slider {
            padding-bottom: 0;
        }
    }
    .slider {
        padding: 0 #{$space-m/2} $space-m;
        width: 100%;
        min-height: 100%;
        position: relative;
        display: table;
        .content-item {
            display: table-cell;
            &.-list {
                display: flex;
            }
            &.-hero {
                display: grid;
                margin: 0;
            }
        }
    }
    &.-m1\.2 {
        margin-right: -$space-m;
        .slider {
            width: 82%;
        }
    }
    &.-m1\.4 {
        margin-right: -$space-m;
        .slider {
            width: 71%;
        }
    }
    &.-m2 {
        .slider {
            width: 50%;
        }
    }
    &.-m3 {
        .slider {
            width: 33.333333%;
        }
    }
    &.-togrid {
        &:after {
            content: "flickity";
            display: none;
        }
    }
    @media (min-width: 992px) {
        &.-m1\.2,
        &.-m1\.4 {
            margin-right: -#{$space-d/2};
        }
        margin: 0 -#{$space-d/2};
        .slider {
            padding: 0 #{$space-d/2} $space-d;
            width: 100%;
        }
        &.-d2 {
            .slider {
                width: 50%;
            }
        }
        &.-d3 {
            .slider {
                width: 33.333333%;
            }
        }
        &.-d4 {
            .slider {
                width: 25%;
            }
        }
        &.-d5 {
            .slider {
                width: 20%;
            }
        }
        &.-d6 {
            .slider {
                width: 16.666666%;
            }
        }
        &.-togrid {
            display: grid;
            grid-gap: $space-d;
            margin: 0;
            &.-d2 {
                grid-template-columns: repeat(2, minmax(0, 1fr));
            }
            &.-d3 {
                grid-template-columns: repeat(3, minmax(0, 1fr));
            }
            &.-d4 {
                grid-template-columns: repeat(4, minmax(0, 1fr));
            }
            &.-d5 {
                grid-template-columns: repeat(5, minmax(0, 1fr));
            }
            &.-d6 {
                grid-template-columns: repeat(6, minmax(0, 1fr));
            }
            .slider {
                width: 100%;
                padding: 0;
            }
            &:after {
                content: "";
                clear: both;
            }
        }
    }
}

.s-modal {
    height: 0;
    max-height: 0;
    overflow: hidden;
    width: 94vw;
    max-width: 750px;
    background-color: #fff;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.9);
    padding: 0;
    opacity: 0;
    pointer-events: none;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    z-index: 1100;
    &.-full {
        width: 100vw;
        max-width: 100vw;
        left: 0;
        right: 0;
        transform: scale(0.9);
        transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    }
    &.-visible {
        opacity: 1;
        height: auto;
        max-height: 94vh;
        pointer-events: auto;
        overflow: auto;
        padding: 10px 20px 8px;
        transform: translate(-50%, -50%) scale(1);
        transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
        &.-full {
            height: 100vh;
            top: 0;

            max-height: 100vh;
            transform: scale(1);
        }
    }
    &-trigger {
        display: inline-block;
    }
    &-bg {
        position: fixed;
        z-index: 1000;
        left: 0;
        top: 0;
        width: 100%;
        height: 0;
        opacity: 0;
        background-color: rgba(0, 0, 0, 0.65);
        transition: opacity 0.3s ease-in-out, height 0.01s 0.3s;
        &.-blacked-out {
            height: 100vh;
            opacity: 1;
            transition: opacity 0.3s ease-in-out;
        }
    }
    &-content {
        height: 100%;
        -webkit-overflow-scrolling: touch;
        overflow: scroll;
        padding: 0 16px;
    }
    &-close {
        position: absolute;
        top: 15px;
        right: 15px;
        font-size: 16px;
        text-align: center;
        padding: 10px;
        line-height: 24px;
        background-color: #000;
        height: 44px;
        width: 44px;
        border-radius: 50%;
        z-index: 10;
        color: #fff;
        cursor: pointer;
        &:hover {
            background-color: $primary;
        }
    }
    &-login {
        max-width: 400px;
        @media (min-width: 992px) {
            max-height: 400px;
        }
    }
    .search-form {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-width: 350px;
        box-shadow: none;
        border-bottom: 3px solid $primary;
        border-radius: 0;
        label {
            &:after {
                font-size: 18px;
                color: $primary;
            }
        }
    }
    .search-field {
        border: none;
    }
    @media (min-width: 768px) {
        &-content {
            padding: 0 30px;
        }
        &.-visible {
            padding: 20px 30px 10px;
        }
    }
}

@media (max-width: 991px) {
    ._desktop {
        display: none !important;
    }
}
@media (min-width: 992px) {
    ._mobile {
        display: none !important;
    }
}
