/* == GUTENBERG EDITOR == */
.alignfull,
.alignwide {
  margin-left: calc(var(--s-space) * -1);
  margin-right: calc(var(--s-space) * -1);
  max-width: 100vw;
}
.wp-block-video video {
  max-width: 750px;
}

.wp-block-cover-text p {
  padding: 1.5em 0;
}
.wp-block-separator {
  border: none;
  border-bottom: 2px solid #8f98a1;
  margin: 1.65em auto;
  &:not(.is-style-wide):not(.is-style-dots) {
    max-width: 100px;
  }
}
.wp-block-quote {
  &.is-large {
    border: none;
    cite {
      display: block;
    }
  }
}
.wp-block-pullquote {
  border-left: none;
  border-top: 4px solid #555d66;
  border-bottom: 4px solid #555d66;
  color: #40464d;
  padding: 2em;
  text-align: center;
  margin-bottom: 20px;
  blockquote {
    border-left: none;
    padding-left: 0;
    text-align: center;
    margin: 0;
    font-family: var(--s-heading);
  }
}
.wp-block-table {
  display: block;
  overflow-x: auto;
}
.wp-block-group {
  margin-bottom: var(--s-space);
  &.has-background {
    margin-left: calc(var(--s-space) * -1);
    margin-right: calc(var(--s-space) * -1);
    padding: calc(var(--s-space) * 1.5) calc(var(--s-space) * 1.5)
      calc(var(--s-space) * 0.5);
    @media (min-width: 992px) {
      margin-left: 0;
      margin-right: 0;
    }
  }
}
.wp-block-embed.type-video > .wp-block-embed__wrapper {
  position: relative;
  width: 100%;
  height: 0;
  padding-top: 56.25%;
}
.wp-block-embed.type-video > .wp-block-embed__wrapper > iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
p.has-drop-cap:not(:focus):first-letter {
  font-size: 5.4em;
  line-height: 0.9;
  font-family: var(--s-heading);
}
@media (min-width: 576px) {
  .alignfull,
  .alignwide {
    margin-left: calc(-50vw + 50%);
    margin-right: calc(-50vw + 50%);
  }
}
@media screen and (min-width: 768px) {
  .wp-block-cover-text p {
    padding: 1.5em 0;
  }
}
@media screen and (min-width: 992px) {
  .wp-block-image {
    margin-top: var(--s-space);
    margin-bottom: var(--s-space);
  }
  .main-body {
    &.-rightbar,
    &.-leftbar,
    &.-leftrightbar {
      .alignfull,
      .alignwide {
        margin-left: 0;
        margin-right: 0;
        width: 100%;
      }
    }
  }
}
@media (min-width: 1120px) {
  .alignwide {
    margin-left: -180px;
    margin-right: -180px;
  }
}

/* WP */
.alignright {
  float: right;
  margin-left: 1em;
  margin-bottom: 1em;
}
.alignleft {
  float: left;
  margin-right: 1em;
  margin-bottom: 1em;
}
img.centered,
.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
img.alignright {
  display: inline;
}
img.alignleft {
  display: inline;
}
.wp-caption {
  margin-bottom: 1.5em;
  max-width: 100%;
}
.wp-caption img[class*="wp-image-"] {
  display: block;
  margin: 0 auto;
}
.wp-caption-text {
  text-align: center;
}
.wp-caption .wp-caption-text {
  margin: 0.8em 0;
}

.sticky {
  display: block;
}
.hentry li ul,
.hentry li ol {
  margin: 0.5em 0;
}
.byline,
.updated:not(.published) {
  display: none;
}
.bypostauthor {
  background-color: #f8f5e7;
}
.single .content-area .byline {
  display: inline;
}
.page-links {
  clear: both;
  margin: 0 0 1.5em;
}
img.wp-smiley {
  border: none;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0;
}
embed,
iframe,
object {
  max-width: 100%;
}
.navigation {
  clear: both;
}
body.home .gallery,
.gallery {
  margin: 0 -10px 1.5em;
}
.gallery:after {
  display: table;
  content: "";
  clear: both;
}
.gallery-item {
  float: left;
  text-align: center;
  vertical-align: top;
  width: 100%;
  margin: 0;
  padding: 10px;
}
.gallery-columns-2 .gallery-item {
  width: 50%;
}
.gallery-columns-3 .gallery-item {
  width: 33.3333%;
}
.gallery-columns-4 .gallery-item {
  width: 25%;
}
.gallery-columns-5 .gallery-item {
  width: 20%;
}
.gallery-columns-6 .gallery-item {
  width: 16.6666%;
}
.gallery-columns-7 .gallery-item {
  width: 14.2857%;
}
.gallery-columns-8 .gallery-item {
  width: 12.5%;
}
.gallery-columns-9 .gallery-item {
  width: 11.1111%;
}
.gallery-columns-2 .gallery-item:nth-child(2n + 1),
.gallery-columns-3 .gallery-item:nth-child(3n + 1),
.gallery-columns-4 .gallery-item:nth-child(4n + 1),
.gallery-columns-5 .gallery-item:nth-child(5n + 1),
.gallery-columns-6 .gallery-item:nth-child(6n + 1),
.gallery-columns-7 .gallery-item:nth-child(7n + 1),
.gallery-columns-8 .gallery-item:nth-child(8n + 1),
.gallery-columns-9 .gallery-item:nth-child(9n + 1) {
  clear: left;
}
.gallery-caption {
  display: block;
}
.edit-link a {
  position: fixed;
  bottom: 5px;
  left: 5px;
  display: block;
  width: 32px;
  height: 32px;
  line-height: 30px;
  border-radius: 30px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  text-align: center;
  border: 2px solid #fff;
  font-size: 10px;
  overflow: hidden;
  z-index: 900;
  font-family: arial, sans-serif;
}
.fb-comments {
  clear: both;
  display: block;
}
.search-field {
  max-width: 100%;
  box-sizing: border-box;
}
.site-main > .page-header {
  margin: 0;
  border: none;
  padding: 0;
}

/* Jetpack */
.infinite-scroll .content-pagination {
  display: none;
}

/* Comments */
.comments-area {
  clear: both;
  margin-bottom: 15px;
}
.comment-list {
  list-style: none;
  margin-bottom: 20px;
  padding: 0;
  border: 1px solid #e2e2e2;
  border-bottom: none;
  .comment {
    border-bottom: 1px solid #e2e2e2;
    padding: 25px;
    background-color: #f8f8f8;
  }
  .vcard {
    img.avatar {
      float: left;
      margin: 5px 12px 0 0;
    }
    .says {
      display: none;
    }
  }
  .comment-metadata {
    font-size: 0.8em;
    line-height: 1.4em;
    &:after {
      content: "";
      clear: both;
      display: block;
      margin-bottom: 15px;
    }
    a {
      opacity: 0.8;
    }
  }
  .children {
    list-style: none;
    margin: 0;
    padding: 0;
    .comment {
      border-bottom: none;
      padding-bottom: 0;
    }
  }
}
.comment-respond {
  background-color: #eee;
  padding: 25px 25px 5px;
  margin-top: 20px;
  label {
    display: block;
    margin: 0;
  }
}
.comment-form-comment {
  margin-bottom: 10px;
  textarea {
    padding: 10px;
    width: 100%;
    border: 1px solid #ccc;
  }
}
.comment-form-author,
.comment-form-email,
.comment-form-url {
  input {
    width: 100%;
    border: 1px solid #ccc;
    padding: 3px 5px;
  }
}

/* fitVids - https://codepen.io/chriscoyier/pen/YzXeXjK */

.fitVids-wrapper {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

/* Facebook Comments */
.fb_iframe_widget_lift {
  width: 100% !important;
}

/* Search Form */
.search-form {
  width: 100%;
  height: 40px;
  max-width: 240px;
  position: relative;
  label {
    margin-bottom: 0;
    width: 100%;
  }
  .search-field {
    width: 100%;
    height: 40px;
    padding-left: 6px;
  }
  button {
    min-height: 36px;
    width: 36px;
    border-radius: 18px;
    padding: 0;
    justify-content: center;
    color: var(--s-border);
    background: none;
    position: absolute;
    right: 2px;
    top: 2px;
    z-index: 1;
    &:hover {
      background: var(--s-accent);
      color: var(--s-bg);
    }
    svg {
      width: 22px;
      height: 22px;
    }
  }
}
