// CSS VARIABLES
:root {
  --s-accent: #0f6b4e;
  --s-accent-hover: #03a572;
  --s-bg: #fff;
  --s-text: #222;
  --s-line: #dcdfe5;
  --s-noti: #c00;
  --s-border: #7e8993;
  --s-border-radius: 3px;
  --s-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
  --s-box-padding: 15px;
  --s-heading: "Anuphan", sans-serif; // Try: Maledpan
  --s-heading-weight: 500;
  --s-heading-line-height: 1.3;
  --s-body: "Sarabun", sans-serif;
  --s-body-line-height: 1.625;
  --s-space: 16px;
  --s-header-height: 50px;
  --s-footer-height: 40px;
  --s-title-size: 1.5rem;
  --s-title-height: 120px;
  --s-title-bg-blur: 20px;
  --s-title-bg-opacity: 0.7;
}
.site-header {
  --s-bg: #fff;
  --s-text: #222;
}
.site-nav-m {
  --s-bg: #111;
  --s-text: #eee;
  --s-line: #333;
}
.site-nav-d {
  --s-bg: #fff;
  --s-text: #222;
}
.content-headline {
  --s-bg: #000;
  --s-text: #fff;
}
.site-footer {
  --s-bg: #f1f2f3;
  --s-text: #787980;
}

@media (min-width: 768px) {
  :root {
    --s-space: 20px;
  }
}

@media (min-width: 992px) {
  :root {
    --s-header-height: 70px;
  }
  .main-header {
    --s-title-height: 220px;
    --s-title-size: 2rem;
  }
}
